.home-slide {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-slide-container {
  padding: 10px;
  background: linear-gradient(
    to bottom right,
    black,
    var(--one-blue)
    );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.firstname, .lastname{
  text-align: center;
  font-size: 10rem;
  font-weight: bolder;
  letter-spacing: .5rem;
}

.occupancy {
  font-size: 3.2rem;
  font-weight: bolder;
}

.hook {
  font-size: 2rem;
  height: auto; 
  word-wrap: break-word;
}

@media only screen and (max-width: 900px) {
  .home-slide-container {
    z-index: -1;
    transform: rotate(-90deg);
  }

  .firstname, .lastname {
    font-size: 6rem;
  }

  .occupancy {
    font-size: 2rem;
  }

  .hook {
    font-size: 1.5rem;

  }

}

@media only screen and (max-width: 560px) {
  .firstname, .lastname { 
    font-size: 3.5rem;
  }

  .occupancy {
    font-size: 1.3rem;
    text-align: center;
  }

  .hook {
    font-size: 1rem;
  }
}