.aboutme-container {
  width: 100%;
  height: 100vh;
  display: grid; 
  grid-template-columns: 1fr 1fr;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}

.aboutme-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutme-text-container {
  display: flex;
  width: 100%;
}

.aboutme-left h2 {
  font-size: 2.5rem;
  padding-right: 10px;
  text-decoration: underline;
  text-decoration-color: var(--one-blue);
  text-decoration-thickness: 5px;
}

.aboutme-left p {
  font-size: 1.1rem;
  width: 100%;
  padding: 10px 0px;
}

.experience-container {
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 100px;
}

.tech {
  font-size: 1rem;
  text-align: center;
}

.aboutme-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.image-container {
  height: 600px;
  width: 600px;
  
}

.image-container img {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  object-fit: cover;
  border: dashed 4px var(--one-blue);
  box-shadow: 5px 20px 20px 10px black;
}


@media only screen and (max-width: 1882px) {

  .aboutme-container {
    grid-template-columns: 1fr;
    height: auto;
    gap: 100px;
  }

  .image-container {
    height: 500px;
    width: 500px;
  }
}

@media only screen and (max-width: 720px) {
  .aboutme-container {
    gap: 50px;
  }
  .image-container {
    height: 450px;
    width: 450px;
  }

  .aboutme-left {
    padding: 10px 20px;
  }

  .experience-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 560px) {
  .image-container {
    height: 400px;
    width: 400px;
  }

  .aboutme-text-container {
    justify-content: center;
  }

  .experience-container {
    padding: 0;
  }
}

@media only screen and (max-width: 480px) {
  .image-container {
    height: 350px;
    width: 350px;
  }

  .experience-container {
    padding: 10px 0px;
    gap: 5px 20px;
  }
}

@media only screen and (max-width: 400px) {
  .image-container {
    height: 290px;
    width: 290px;
  }
}